---
export type Props = {
  /**
   * 站点语言
   */
  lang?: string;
  /**
   * 站点标题
   */
  title?: string;
  /**
   * 站点描述
   */
  description?: string;
  /**
   * 站点关键词
   */
  keywords?: string;
}

const {
  lang = import.meta.env.SITE_LANG,
  title = import.meta.env.SITE_TITLE,
  description = import.meta.env.SITE_DESCRIPTION,
  keywords = import.meta.env.SITE_KEYWORDS,
} = Astro.props;

// 百度统计代码
const baApiKey = import.meta.env.BAIDU_API_KEY;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />

    {
      import.meta.env.PROD && baApiKey && (
        <>
          <script
            is:inline
            async
            src={`https://hm.baidu.com/hm.js?${baApiKey}`}
          />
          <script is:inline>var _hmt = _hmt || [];</script>
        </>
      )
    }
  </body>
</html>

<style is:global>
  .ai-fcc {
    @apply flex items-center justify-center;
  }

  .ai-fcb {
    @apply flex items-center justify-between;
  }
</style>
