---
import { SiteData, SITE_DATA } from '@/shared/constants/data'

export type Props = Partial<SiteData>;

const {
  lang = SITE_DATA.lang,
  title = SITE_DATA.title,
  description =SITE_DATA.description,
  keywords = SITE_DATA.keywords,
} = Astro.props;

// 百度统计代码
const baApiKey = import.meta.env.BAIDU_API_KEY
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
    <slot name="head"></slot>
  </head>
  <body>
    <slot />

    {import.meta.env.PROD && baApiKey && (
      <script is:inline async src={`https://hm.baidu.com/hm.js?${baApiKey}`}></script>
      <script is:inline>var _hmt = _hmt || [];</script>
    )}
  </body>
</html>
